p {
    text-align: center;
    margin: 5%;
    flex: 1;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 0%;
}

@media (max-width: 500px) { 
    img {
        display: none;
    }
 }