<div id="header">
  <title>Login</title>
</div>

<div id="wrapper">
  <h1>Persoud</h1>
</div>

<div class="container">
  <div class="auth">
    <form
      action="login"
      id="loginContainer"
      class="container"
      name="container"
      method="GET"
    >
      <h1>Login</h1>

      <label for="email"> <b> Email </b> </label>
      <input
        type="email"
        name="email"
        placeholder="Email"
        class="auth-input"
        required
      />

      <label for="password"> <b> Password </b> </label>
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="auth-input"
        required
      />

      <div class="auth-actions">
        <button type="submit" class="auth-button" onclisck="">Login</button>
        <a href="" title="Create acount" class="auth-link"> Create acount </a>
      </div>
    </form>
  </div>
</div>
