.card-header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

.mio {
    cursor: pointer;
    position: relative;
    top: 5px;
    margin-left: 6px;
}

.file {
    border: 1px solid;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    width: 80px;
    transition: all 0.2s ease;
    position: relative;
    top: 0;
    cursor: pointer;
}
  
.file:hover {
    position: relative;
    top: -10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
}

.content {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 10px 20px;
}

.side-nav {
    background-color: #f2f2f2;
    height: 100%;
    flex: 1;
}

.main {
    display: flex;
    height: calc(100vh - 60px);
}

.folder-path {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.explorer {
    flex: 6;
}

.nav-item {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.nav-item span {
    margin-right: 12px;
}

mat-form-field  {
    font-size: 15px;   
    cursor: pointer;
    position: relative;
    height: 5px;
    width: 20%;
}