<app-nav (messageEvent)="receiveSearch($event)"></app-nav>

<div class="main">
  <div class="side-nav">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option>
        <div class="nav-item" (click)="myFiles()">
          <span class="material-icons-outlined">cloud</span>My files
        </div>
      </mat-list-option>
      <mat-list-option class="nav-item">
        <div class="nav-item" (click)="sharedFiles()">
          <span class="material-icons-outlined">folder_shared</span>Shared files
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="explorer">
    <div class="card-header">
      <div>
        <span class="material-icons-outlined mio" (click)="backward()">arrow_back</span>
        Current directory: {{ path }} 
      </div>
      <div>
        <mat-form-field appearance="none">
          <mat-label>Sort by</mat-label>
          <mat-select (selectionChange)="sortBy($event.value)">
            <mat-option value="name">Name</mat-option>
            <mat-option value="size">Size</mat-option>
            <mat-option value="upload_time">Upload time</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button (click)="openUploadDialog()">
          <span class="material-icons-outlined">file_upload</span>
          Upload
        </button>
        
        <button mat-button (click)="createFolderDialog()">
          <span class="material-icons-outlined">create_new_folder</span>
          New folder
        </button>
      </div>
    </div>

    <div class="content" role="main">  
      <ng-container *ngFor="let file of fileList;trackBy: trackByName">
        <div class="file">
          <app-file-card [file]="file" *ngIf="file.isDir; else notDir" (click)="forward(file.name)" (contextmenu)="onRightClick($event, file)"></app-file-card>
          <ng-template  #notDir>
            <app-file-card [file]="file" (contextmenu)="onRightClick($event, file)"></app-file-card>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Hidden div -->
<div style="visibility: hidden; position: fixed;"
[style.left]="contextMenuPosition.x"
[style.top]="contextMenuPosition.y"
[matMenuTriggerFor]="rightMenu"></div>

<mat-menu #rightMenu="matMenu">
	<ng-template matMenuContent let-file="file">
		<button mat-menu-item (click)="onContextMenuShare(file)">
      <span class="material-icons-outlined">share</span>
        Share
      </button>
		<button mat-menu-item (click)="onContextMenuDownload(file)">
      <span class="material-icons-outlined">file_download</span>
        Download
      </button>
		<button mat-menu-item (click)="onContextMenuRemove(file)">
      <span class="material-icons-outlined">delete</span>
        Delete
      </button>
	</ng-template>
</mat-menu>