<button mat-raised-button color="primary" (click)="openUploadDialog()">Upload</button>

<div class="card-header">
  <span class="material-icons-outlined mio" (click)="backward()">arrow_back</span>
  Current directory: {{ path }} 
</div>

<div class="content" role="main">  
  <ng-container *ngFor="let file of fileList">
    <div class="file">
      <app-file-card [file]="file" *ngIf="file.isDir; else notDir" (click)="forward(file.name)"></app-file-card>
      <ng-template  #notDir>
        <app-file-card [file]="file"></app-file-card>
      </ng-template>
    </div>
  </ng-container>
</div>