<div class="auth">
    <form id="loginContainer" class="container" name="container" (ngSubmit)="onSubmit()">
      <h1>Login</h1>

      <label for="email"> Email </label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Email"
        [(ngModel)]="user.email"
        #email="ngModel"
        class="auth-input"
        required
      />

      <label for="password"> Password </label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Password"
        class="auth-input"
        [(ngModel)]="user.password"
        #password="ngModel"
        required
      />

      <div class="auth-actions">
        <button type="submit" class="auth-button">Login</button>
        <a routerLink="/register">Sign Up</a>
      </div>
    </form>
  </div>